<h1>Loops</h1>
<p>
  Know animals:
</p>
<ul id="animal-list">
  <!-- TODO: display all animals, they are listed in `list` array -->
  <li ng-repeat="element in list">
    {{element}}
  </li>
</ul>

<hr />

<h1>Conditions:</h1>

<input ng-model="animal" />

<div id="message">
  <!-- TODO: remove the element when `animal` is empty -->
  <p ng-if="!animal">There is no animal provided</p>
</div>

<hr />

<h1>Events:</h1>
<p id="counter">{{counter}}</p>

<!-- TODO: fire `increaseCounter` when the button is clicked-->
<button id="button" ng-click="increaseCounter()">Increase counter</button>
